<main>
    <div class="row gy-5">
        <section class="col-12">
            <div class="card text-bg-dark">
                <img class='card-img-top' src="https://picsum.photos/100/50" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product #343556</h5>
                    <p class="text-bg-secondary">Hello world</p>
                    <a href="#" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>

        <section>
            <table class="table">
                <thad>
                    <tr>
                        <th>
                            #id
                        </th>
                        <th>
                            name
                        </th>
                        <th>
                            age
                        </th>


                    </tr>
                </thad>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>John</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Piter</td>
                        <td>45</td>
                    </tr>
                </tbody>

            </table>
        </section>
    </div>
        
       

        {{!-- <div class="row g-5">
            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class=" card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                    <div class="card-footer text-center">Footer</div>
                </div>           
            </div>

            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class=" card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                    <div class="card-footer text-center">Footer</div>
                </div>              
            </div>

            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class=" card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                    <div class="card-footer text-center">Footer</div>
                </div>              
            </div>

            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class=" card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                    <div class="card-footer text-center">Footer</div>
                </div>                
            </div>

            <div class="col-4">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class=" card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                    <div class="card-footer text-center">Footer</div>
                </div>                
            </div>  
        </div> --}}
   
</main>