<div>
    <main>
        <div class="row">
            <div>
                <h1>Список сторінок</h1>
            </div>
            <p class="col-6 mt-4">
                Це мій перший проект, виконаний без використання контруктора. Було не дуже просто, але все зроблено!
            </p>
            <div class="row">
                <div class="col-12 mt-4">
                    {{#each buttons}}
                        <div class="mb-2">
                            <a class="col-3 btn btn-primary btn-sm" href="{{href}}" target="_blank">{{text}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </main>
</div>