<div class="col-4 card ms-5">
    <div class="card-body">
    {{#with guide}}
    <dl>
    <dd><b>Guide: {{name}}</b></dd>
    <dd>Language: {{language}}</dd>
    <dd>Rating: {{rating}}</dd>
    </dl>
    {{/with}}
    </div>
</div> 