<div class="col-12 mt-1 mb-2 card text-bg-secondary">
    <div class="row card-body">
        <div class="col-8 ps-4"><b>Борис Каган</b></div>
        <div class="col-4 pe-4 text-end text-uppercase"><b>Resume project</b></div>
    </div>
</div> 