<div class="col-12 mt-1 mb-2 card text-bg-secondary">
    <div class="row card-body">
        <div class="col-9"><b>Борис Каган</b></div>
        <div class="col-3 text-end"><b>Resume project</b></div>
    </div>
</div> 