<div class="card text-bg-light"> 
    <div class="row">
        {{#with navigation}}
            <h1 class="col-6 ps-4">{{Logo}}</h1>
            {{#each links}}
                <div class="col-2 nav mt-1">
                    <a class="nav-item nav-link" href="{{href}}">{{text}}</a>
                </div>
            {{/each}}
        {{/with}}
    </div>
</div>