<div class="row">
    <div class="col-12">
    {{#with navigation}}
        <div>
            <div class="card">
                <div class="row">
                    <h1 class="col-3">{{Logo}}</h1>
                </div>
                    <div class="row">                           
                        {{#each links}}
                            
                                <div class="nav col-2">
                                    <div>
                                        <a class="nav-item nav-link" href="{{href}}">{{text}}</a>
                                    </div>
                                </div>
                            
                        {{/each}} 
                    </div>
            </div>
        </div>
    {{/with}}
    </div>
</div>