
<div class="col-6 my-3 card text-bg-secondary">
    <div class="card-body">
        <h3>{{name}}</h3>
        <span>ID: {{id}}</span>
        <br>
        <span>Gender: {{gender}}</span>
        <br>
        <span>Age: {{age}}</span>
    </div>    
</div>
